body {
  font-family: 'Montserrat', sans-serif;
  padding: 36px 32px;
  background-image: linear-gradient(to right, #fffdb6, #83aad4);
}

#search-form {
  text-align: center;
  margin: 0px auto 50px;
}

input {
  padding: 4px 8px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #e4f6f7;
  box-shadow: 0 0 0 2px #e4f6f7;
  margin-right: 8px;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

button {
  padding: 4px 12px;
  border-radius: 8px;
  border: none;
  background-color: #e4f6f7;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  box-shadow: 2px 2px white, 4px 4px #FC63B5;
  top: -4px;
  left: -4px;
}





img {
  display: block;
  width: 360px;
  height: 200px;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}


.photo-card {
  border: 1px solid #808080;
  max-width: 360px;
  text-align: center;
}

.info {
  display: flex;
}

.info-item {
  margin: 0 10px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}



b {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.iziToast-capsule {
  text-align: right;
}


.loader.hidden,
.load-more-button.hidden {
  display: none;
}

.load-more-button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
}


.loader {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out;
  margin: 20px auto;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }

  100% {
    transform: scale(0.95);
    opacity: 1;
  }
}


.hidden {
  display: none;
}